{% extends 'base.html.twig' %}

{% block title %}

    xBlog

{% endblock %}


{% block body %}

<div >
    <img src="http://rold.at.ua/skillup/xblog.png" width="100" height="60" align="left">
    <h1>Добро пожаловать в xBlog</h1>
</div>

    <div>
        <table class="table" align="centre">
            <tr>
                <th>Блок таблицы с постами</th>
            </tr>

        </table>
    </div>


{% endblock %}
