{% extends 'base.html.twig' %}

{% block title %}Edit new post{% endblock %}

{% block body %}

    <h1> Edit your Post</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>

    {{ form_end(form) }}

        <a href="{{ path('post_show', {id:post.id}) }}">
            Back
        </a>

{% endblock %}



