{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ post.Caption }}</h1>
        <hr>
    <p> Date</p>
        <hr>
    <p>{{ post.xText }}</p>
        <hr>

    <a href="{{ path('homepage', {}) }}">
        <button> Back to Homepage </button>
    </a>

    <a href="{{ path('post_edit', {id: post.id}) }}">
        <button> Edit post </button>
    </a>




{% endblock %}

{% block title %}

{% endblock %}